In [1]:
import pandas as pd

In [2]:
ufo = pd.read_csv("http://bit.ly/uforeports")

In [3]:
ufo.head()

                   City Colors Reported Shape Reported State             Time
0                Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1           Willingboro             NaN          OTHER    NJ  6/30/1930 20:00
2               Holyoke             NaN           OVAL    CO  2/15/1931 14:00
3               Abilene             NaN           DISK    KS   6/1/1931 13:00
4  New York Worlds Fair             NaN          LIGHT    NY  4/18/1933 19:00

In [5]:
ufo.dtypes

City               object
Colors Reported    object
Shape Reported     object
State              object
Time               object
dtype: object

In [6]:
ufo.Time = pd.to_datetime( ufo.Time )

In [7]:
ufo.dtypes

City                       object
Colors Reported            object
Shape Reported             object
State                      object
Time               datetime64[ns]
dtype: object

In [8]:
ufo.Time.dt.hour

0        22
1        20
2        14
3        13
4        19
5        15
6         0
7         0
8        17
9         0
10       21
11       20
12       20
13        2
14       13
15       11
16        0
17       22
18        1
19       23
20       15
21        0
22        0
23       11
24       10
25       12
26       12
27       11
28       12
29       10
         ..
18211    18
18212    18
18213    19
18214     0
18215     9
18216    16
18217    19
18218    20
18219    20
18220    20
18221    20
18222    21
18223    22
18224    23
18225    10
18226    22
18227    22
18228     4
18229    11
18230    20
18231    20
18232    20
18233    21
18234    22
18235    23
18236    23
18237    23
18238    23
18239    23
18240    23
Name: Time, Length: 18241, dtype: int64

In [9]:
ufo.Time.dt.weekday_name

0           Sunday
1           Monday
2           Sunday
3           Monday
4          Tuesday
5         Saturday
6         Saturday
7        Wednesday
8         Thursday
9          Tuesday
10          Sunday
11        Thursday
12          Friday
13          Friday
14          Sunday
15       Wednesday
16       Wednesday
17          Monday
18       Wednesday
19          Friday
20         Tuesday
21          Sunday
22          Sunday
23          Friday
24        Saturday
25        Saturday
26        Saturday
27          Sunday
28        Thursday
29          Friday
           ...
18211     Thursday
18212     Thursday
18213     Thursday
18214       Friday
18215       Friday
18216       Friday
18217       Friday
18218       Friday
18219       Friday
18220       Friday
18221       Friday
18222       Friday
18223       Friday
18224       Friday
18225     Saturday
18226     Saturday
18227     Saturday
18228       Sunday
18229       Sunday
18230       Sunday
18231       Sunday
18232       Sunday
18233       Sunday
18234       Sunday
18235       Sunday
18236       Sunday
18237       Sunday
18238       Sunday
18239       Sunday
18240       Sunday
Name: Time, Length: 18241, dtype: object

In [10]:
ufo.Time.dt.weekday

0        6
1        0
2        6
3        0
4        1
5        5
6        5
7        2
8        3
9        1
10       6
11       3
12       4
13       4
14       6
15       2
16       2
17       0
18       2
19       4
20       1
21       6
22       6
23       4
24       5
25       5
26       5
27       6
28       3
29       4
        ..
18211    3
18212    3
18213    3
18214    4
18215    4
18216    4
18217    4
18218    4
18219    4
18220    4
18221    4
18222    4
18223    4
18224    4
18225    5
18226    5
18227    5
18228    6
18229    6
18230    6
18231    6
18232    6
18233    6
18234    6
18235    6
18236    6
18237    6
18238    6
18239    6
18240    6
Name: Time, Length: 18241, dtype: int64

In [11]:
ufo.Time.dt.dayofyear

0        152
1        181
2         46
3        152
4        108
5        258
6        166
7        197
8        289
9        166
10       227
11       152
12       181
13       188
14       152
15       183
16        56
17       152
18       196
19       120
20       152
21       227
22       227
23       288
24         1
25         1
26         1
27        93
28       153
29       182
        ...
18211    363
18212    363
18213    363
18214    364
18215    364
18216    364
18217    364
18218    364
18219    364
18220    364
18221    364
18222    364
18223    364
18224    364
18225    365
18226    365
18227    365
18228    366
18229    366
18230    366
18231    366
18232    366
18233    366
18234    366
18235    366
18236    366
18237    366
18238    366
18239    366
18240    366
Name: Time, Length: 18241, dtype: int64

In [12]:
ufo.Time.dt.time

0        22:00:00
1        20:00:00
2        14:00:00
3        13:00:00
4        19:00:00
5        15:30:00
6        00:00:00
7        00:00:00
8        17:00:00
9        00:00:00
10       21:00:00
11       20:00:00
12       20:00:00
13       02:00:00
14       13:00:00
15       11:30:00
16       00:00:00
17       22:30:00
18       01:00:00
19       23:00:00
20       15:00:00
21       00:00:00
22       00:00:00
23       11:00:00
24       10:00:00
25       12:00:00
26       12:00:00
27       11:00:00
28       12:00:00
29       10:00:00
           ...
18211    18:00:00
18212    18:20:00
18213    19:10:00
18214    00:00:00
18215    09:00:00
18216    16:10:00
18217    19:30:00
18218    20:00:00
18219    20:30:00
18220    20:30:00
18221    20:50:00
18222    21:00:00
18223    22:00:00
18224    23:30:00
18225    10:00:00
18226    22:00:00
18227    22:00:00
18228    04:00:00
18229    11:45:00
18230    20:00:00
18231    20:00:00
18232    20:30:00
18233    21:00:00
18234    22:00:00
18235    23:00:00
18236    23:00:00
18237    23:00:00
18238    23:45:00
18239    23:45:00
18240    23:59:00
Name: Time, Length: 18241, dtype: object

In [13]:
ufo.Time.dt.year

0        1930
1        1930
2        1931
3        1931
4        1933
5        1934
6        1935
7        1936
8        1936
9        1937
10       1937
11       1939
12       1939
13       1939
14       1941
15       1941
16       1942
17       1942
18       1942
19       1943
20       1943
21       1943
22       1943
23       1943
24       1944
25       1944
26       1944
27       1944
28       1944
29       1944
         ...
18211    2000
18212    2000
18213    2000
18214    2000
18215    2000
18216    2000
18217    2000
18218    2000
18219    2000
18220    2000
18221    2000
18222    2000
18223    2000
18224    2000
18225    2000
18226    2000
18227    2000
18228    2000
18229    2000
18230    2000
18231    2000
18232    2000
18233    2000
18234    2000
18235    2000
18236    2000
18237    2000
18238    2000
18239    2000
18240    2000
Name: Time, Length: 18241, dtype: int64

In [14]:
ufo.Time.dt.month

0         6
1         6
2         2
3         6
4         4
5         9
6         6
7         7
8        10
9         6
10        8
11        6
12        6
13        7
14        6
15        7
16        2
17        6
18        7
19        4
20        6
21        8
22        8
23       10
24        1
25        1
26        1
27        4
28        6
29        6
         ..
18211    12
18212    12
18213    12
18214    12
18215    12
18216    12
18217    12
18218    12
18219    12
18220    12
18221    12
18222    12
18223    12
18224    12
18225    12
18226    12
18227    12
18228    12
18229    12
18230    12
18231    12
18232    12
18233    12
18234    12
18235    12
18236    12
18237    12
18238    12
18239    12
18240    12
Name: Time, Length: 18241, dtype: int64

In [15]:
ufo.Time.dt.week

0        22
1        27
2         7
3        23
4        16
5        37
6        24
7        29
8        42
9        24
10       32
11       22
12       26
13       27
14       22
15       27
16        9
17       23
18       29
19       17
20       22
21       32
22       32
23       41
24       52
25       52
26       52
27       13
28       22
29       26
         ..
18211    52
18212    52
18213    52
18214    52
18215    52
18216    52
18217    52
18218    52
18219    52
18220    52
18221    52
18222    52
18223    52
18224    52
18225    52
18226    52
18227    52
18228    52
18229    52
18230    52
18231    52
18232    52
18233    52
18234    52
18235    52
18236    52
18237    52
18238    52
18239    52
18240    52
Name: Time, Length: 18241, dtype: int64

In [16]:
ts = pd.to_datetime('1/1/1999')

In [18]:
ufo.loc[ ufo.Time>=ts , :]

,City,Colors Reported,Shape Reported,State,Time
12832,Loma Rica,NaN,LIGHT,CA,1999-01-01 02:30:00
12833,Bauxite,NaN,NaN,AR,1999-01-01 03:00:00
12834,Florence,NaN,CYLINDER,SC,1999-01-01 14:00:00
12835,Lake Henshaw,NaN,CIGAR,CA,1999-01-01 15:00:00
12836,Wilmington Island,NaN,LIGHT,GA,1999-01-01 17:15:00
12837,DeWitt,NaN,LIGHT,AR,1999-01-01 18:00:00
12838,Bainbridge Island,NaN,NaN,WA,1999-01-01 19:12:00
12839,Camano Island,NaN,FIREBALL,WA,1999-01-01 19:30:00
12840,Cheaha Mountain,NaN,TRIANGLE,AL,1999-01-01 21:00:00
12841,Coyoty Canyon,NaN,DISK,NM,1999-01-01 21:00:00
12842,Rancho Cordova,NaN,NaN,CA,1999-01-01 23:59:00
12843,Seattle,GREEN,LIGHT,WA,1999-01-02 17:42:00
12844,Vancouver,GREEN,FIREBALL,WA,1999-01-02 18:30:00
12845,Spirit Lake,RED GREEN,LIGHT,ID,1999-01-02 20:00:00
12846,Jacksonville,RED BLUE,OTHER,FL,1999-01-02 20:30:00
12847,Marysville,RED GREEN,SPHERE,CA,1999-01-02 22:12:00
12848,Bellevue,NaN,LIGHT,WA,1999-01-03 08:45:00
12849,Blithe,NaN,OTHER,CA,1999-01-03 16:31:00
12850,Brigham City,NaN,NaN,UT,1999-01-03 17:00:00
12851,Longview,NaN,CIRCLE,TX,1999-01-04 20:00:00
12852,Redding,RED GREEN,TRIANGLE,CA,1999-01-04 20:24:00
12853,Stillwater,NaN,VARIOUS,NY,1999-01-04 21:50:00
12854,Portland,NaN,OVAL,OR,1999-01-05 02:00:00
12855,Seattle,GREEN,FIREBALL,WA,1999-01-05 05:31:00
12856,Seattle,NaN,TEARDROP,WA,1999-01-05 05:36:00
12857,Bremerton,NaN,CIRCLE,WA,1999-01-05 05:38:00
12858,Estes Park,NaN,CIRCLE,CO,1999-01-05 14:00:00
12859,Alamogordo,NaN,DISK,NM,1999-01-05 20:00:00
12860,Lakeside,NaN,FLASH,CA,1999-01-06 21:30:00
12861,Dallas,NaN,FIREBALL,TX,1999-01-06 21:50:00
...,...,...,...,...,...
18211,Holyoke,NaN,DIAMOND,MA,2000-12-28 18:00:00
18212,Carson,NaN,DISK,CA,2000-12-28 18:20:00
18213,Pasadena,GREEN,FIREBALL,CA,2000-12-28 19:10:00
18214,Austin,NaN,FORMATION,TX,2000-12-29 00:00:00
18215,El Campo,NaN,OTHER,TX,2000-12-29 09:00:00
18216,Garden Grove,ORANGE,LIGHT,CA,2000-12-29 16:10:00
18217,Berthoud Pass,NaN,TRIANGLE,CO,2000-12-29 19:30:00
18218,Sisterdale,NaN,DIAMOND,TX,2000-12-29 20:00:00
18219,Garden Grove,NaN,CHEVRON,CA,2000-12-29 20:30:00
18220,Shasta Lake,BLUE,DISK,CA,2000-12-29 20:30:00
18221,Franklin,NaN,DISK,NH,2000-12-29 20:50:00
18222,Albrightsville,NaN,OTHER,PA,2000-12-29 21:00:00
18223,Greenville,NaN,NaN,SC,2000-12-29 22:00:00
18224,Eufaula,NaN,DISK,OK,2000-12-29 23:30:00
18225,Simi Valley,NaN,FORMATION,CA,2000-12-30 10:00:00
18226,San Francisco,NaN,FORMATION,CA,2000-12-30 22:00:00
18227,San Francisco,NaN,TRIANGLE,CA,2000-12-30 22:00:00
18228,Kingsville,NaN,LIGHT,TX,2000-12-31 04:00:00
18229,Chicago,NaN,DISK,IL,2000-12-31 11:45:00
18230,Pismo Beach,NaN,OVAL,CA,2000-12-31 20:00:00
18231,Pismo Beach,NaN,OVAL,CA,2000-12-31 20:00:00
18232,Lodi,NaN,NaN,WI,2000-12-31 20:30:00
18233,Anchorage,RED,VARIOUS,AK,2000-12-31 21:00:00
18234,Capitola,NaN,TRIANGLE,CA,2000-12-31 22:00:00
18235,Fountain Hills,NaN,NaN,AZ,2000-12-31 23:00:00
18236,Grant Park,NaN,TRIANGLE,IL,2000-12-31 23:00:00
18237,Spirit Lake,NaN,DISK,IA,2000-12-31 23:00:00
18238,Eagle River,NaN,NaN,WI,2000-12-31 23:45:00
18239,Eagle River,RED,LIGHT,WI,2000-12-31 23:45:00
18240,Ybor,NaN,OVAL,FL,2000-12-31 23:59:00

In [19]:
ufo.Time.max() - ufo.Time.min()

Timedelta('25781 days 01:59:00')

In [20]:
( ufo.Time.max() - ufo.Time.min() ).days

25781